<footer>
  <nav>
    <%= link_to 'Home', 'index' %>
    <%= link_to 'Services', 'services' %>
    <%= link_to 'Request an Invite', 'invite' %>
  </nav>

  <nav>
    <%= link_to(
      'Instagram',
      'https://www.instagram.com/fuckingsabotage',
      target: '_blank'
    ) %>
  </nav>

  <%= image_tag 'sabotage-records-logo.png', class: 'sabotage-logo' %>
</footer>
